[Desktop Entry]
Encoding=UTF-8
Name=DRV
Comment=DRV P2P Cryptocurrency
Exec=draviteflex-qt %u
Terminal=false
Type=Application
Icon=draviteflex128
MimeType=x-scheme-handler/draviteflex;
Categories=Office;Finance;
Name[en_US]=draviteflex-qt.desktop
