[Unit]
Description=DRV's distributed currency daemon
After=network.target

[Service]
User=draviteflex
Group=draviteflex

Type=forking
PIDFile=/var/lib/draviteflexd/draviteflexd.pid

ExecStart=/usr/bin/draviteflexd -daemon -pid=/var/lib/draviteflexd/draviteflexd.pid \
          -conf=/etc/draviteflex/draviteflex.conf -datadir=/var/lib/draviteflexd

ExecStop=-/usr/bin/draviteflex-cli -conf=/etc/draviteflex/draviteflex.conf \
         -datadir=/var/lib/draviteflexd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
