[Unit]
Description=DRV's distributed currency daemon
After=network.target

[Service]
User=dravitecoins
Group=dravitecoins

Type=forking
PIDFile=/var/lib/dravitecoinsd/dravitecoinsd.pid

ExecStart=/usr/bin/dravitecoinsd -daemon -pid=/var/lib/dravitecoinsd/dravitecoinsd.pid \
          -conf=/etc/dravitecoins/dravitecoins.conf -datadir=/var/lib/dravitecoinsd

ExecStop=-/usr/bin/dravitecoins-cli -conf=/etc/dravitecoins/dravitecoins.conf \
         -datadir=/var/lib/dravitecoinsd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
